
@import url('https://fonts.googleapis.com/css2?family=Martel:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
:root{
    --primary-color:#48456b;
    --off-white:#E5E7EB;
}
body{
    font-family:"Martel",sans-serif;
    margin: 0px;
    /* background-image: url("/images/undraw_skateboard_d6or.svg"); */
    /* background-position: center; Center the image */
    /* background-repeat: no-repeat; Do not repeat the image */
    /* background-size: cover; */
    /* background-blend-mode: lighten; */
        
}

hr{
    margin:2rem 0rem;
}

/**container**/
.container{
    /* padding-left: 1rem; */
    /* padding-right: 1rem; */
    padding:0rem 1rem;
}
.container-centre{ 
    max-width: 900px;
    margin:auto;
    color: var(--primary-color)
    
}
/**Links**/
.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
    
}
.link-primary{
    background-color: var(--primary-color);
    border-radius:0.5rem;
    color:white
}
.link-secondary{
    color:var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);

}
.list-non-bullet{
    list-style:none;
}
.list-item-inline{
    display: inline;
    padding:0rem 0.5rem;
}
.navigation {
    background-color: var(--primary-color);
    color:var(--off-white);
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}
.navigation .nav-brand{
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    font-size: xx-large;
}
.navigation .nav-pills{
    text-align: right;
}
.navigation .link{
    color:var(--off-white);
}
.navigation .link-active{
    font-weight: :bold;
}
.navigation li a:hover {
    color:black;
    font-weight: bold;
}
.hero{
    padding: 2rem;
}
.hero .hero-image{
    max-width: 800px;
    display:block;
    margin: auto;
    
}
.hero .hero-heading{
    color: var(--primary-color) ;
    padding-top: 1rem;
    text-align: center;
    display: block;
    
}
.hero .hero-heading .heading-inverted{
    color:var(--primary-color);
    padding-top: 1rem;
    text-align: left;
}
.section{
    padding: 2rem;
}
.section h3 ,h1,p {
    text-align:center;
}
.OW{
    background-color: var(--off-white);
}
.footer{
    background-color: var(--primary-color);
    padding: 1rem .5rem;
    text-align: center;
    color:var(--off-white);
    border-top-right-radius: 1rem;
}
.footer .link{
    color:var(--off-white);
}
.footer .footer-header{
    font-weight: bold;
    font-size: x-large;
}
.footer ul{
    padding-inline-start: 0px;
}
.footer li a:hover {
    color:black;
    font-weight: bold;
}